<!DOCTYPE html>

<title>CsvKeyValues index</title>

{% block body %}
    <h1>CsvKeyValues index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>AsValue</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for csv_key_value in csv_key_values %}
            <tr>
                <td>{{ csv_key_value.id }}</td>
                <td>{{ csv_key_value.name }}</td>
                <td>{{ csv_key_value.asValue }}</td>
                <td>{{ csv_key_value.type }}</td>
                <td>
                    <a href="{{ path('csv_key_values_show', {'id': csv_key_value.id}) }}">show</a>
                    <a href="{{ path('csv_key_values_edit', {'id': csv_key_value.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('csv_key_values_new') }}">Create new</a>
{% endblock %}
