{% set restrictetList = restrictetListStandart %}
{% if className(element_teal)|lower == "user" %}
	{% set restrictetList = restrictetListUser %}
{% endif %}
{% if className(element_teal)|lower == "translation" %}
	{% set restrictetList = restrictetListTranslation %}
{% endif %}
<div class="list-teal">
	<h1 class="h1 list-teal-title">{{className(element_teal)}}
		index</h1>
	<div class="list-teal-table">
		<table class="table">
			<thead>
				<tr>
					{% for entities in create_elements(element_teal.0,element_teal.0.id) %}
						{% for properties in entities %}
							{% for key, property in properties %}
								{% if key|lower not in restrictetList  %}
									<th>{{('t'~ key|capitalize)|trans}}</th>
								{% endif %}
							{% endfor %}
						{% endfor %}
					{% endfor %}
					{% if className(element_teal)|lower == "user" %}
						<th>{{ 'tUserAdmin'|trans }}</th>
						<th>{{'tInvitation'|trans}}</th>
					{% endif %}
					<th>{{'tActions'|trans}}</th>
				</tr>
			</thead>
			<tbody>
				{% for element in element_teal %}
					{% set eid = "" %}
					<tr>
						{% for entities in create_elements(element,element.id) %}
							{% for entity,properties in entities %}
								{% for key, property in properties %}
									{% if key == "eid" %}
										{% set eid = property.value %}
									{% endif %}
									{% if key|lower not in restrictetList  %}
										{% if key == "logo" %}
											<td data-eid="{{eid}}" data-entity="{{entity|slice(11)}}" data-property="{{key}}"><img class="list-teal-company-logo-table" alt="Company Logo" src="data:image/png;base64,{{as_image(property.value)}}"/></td>
										{% else %}
											<td data-eid="{{eid}}" data-entity="{{entity|slice(11)}}" data-property="{{key}}" contenteditable="true">{{property.value|raw}}</td>
										{% endif %}
									{% endif %}
								{% endfor %}
							{% endfor %}
						{% endfor %}
						{% if className(element_teal)|lower == "user" %}
							<td class="list-teal-admin{{element.roles.0}}" data-eid="{{element.eid}}">{{change_svg_color(images.site.site_admin.svg,element,'admin')|raw}}</td>
							<td>
								{% set timeDifference = date().format('U') - element.isNew %}
								{% if timeDifference < 86400 %}
									<a href="{{path('user_reinvite',{'id':element.id})}}">{{change_svg_color(images.site.site_email_send.svg,element,'email')|raw}}</a>
								{% else %}
									<a href="{{path('user_reinvite',{'id':element.id})}}">{{change_svg_color(images.site.site_email.svg,element,'email')|raw}}</a>
								{% endif %}
							</td>
						{% endif %}
						<td
							class="list-teal-actions">
							{# <a class="btnGlobalSmall list-teal-show" href="{{ path(className(element_teal.0)|lower~'_show', {'id': element.id}) }}">{{'tShow'|trans}}</a> #}
							<a class="btnGlobalSmall list-teal-edit" href="{{ path(className(element_teal.0)|lower~'_edit', {'id': element.id}) }}">{{'tEdit'|trans}}</a>
							<a class="btnGlobalSmall list-teal-change" href="#">{{'tQuickChange'|trans}}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
</div></div>
