<div class="list-teal">
	<h1 class="h1 list-teal-title">{{className(element_teal)}}
		index</h1>
	<div class="list-teal-table">
		<table class="table">
			<thead>
				<tr>
					{% for property in cast_to_array(element_teal) %}
						{% if property|lower not in restrictetList  %}
							<th>{{('t'~property|capitalize)|trans}}</th>
						{% endif %}
					{% endfor %}
					{% if className(element_teal)|lower == "user" %}
						<th>{{ 'tUserAdmin'|trans }}</th>
						<th>{{'tInvitation'|trans}}</th>
					{% endif %}
					<th>{{'tActions'|trans}}</th>
				</tr>
			</thead>
			<tbody>
				{% if element_teal is iterable %}
					{% for element in element_teal %}
						<tr>
							{% for property in cast_to_array(element_teal) %}
								{% if property == "logo" %}
									<td>
										<img class="list-teal-company-logo-table" alt="Company Logo" src="data:image/png;base64,{{ get_string(element,property) }}"/>
									</td>
								{% else %}
									{% if property|lower not in restrictetList  %}
										<td>{{ get_string(element,property,0)|raw }}</td>
									{% endif %}
								{% endif %}
							{% endfor %}
							{% if className(element_teal)|lower == "user" %}
								<td>{{ 'tUserAdmin'|trans }}</td>
								<td>{{'tInvitation'|trans}}</td>
							{% endif %}
							<td>
								<a class="btnGlobalSmall" href="{{ path(className(element_teal.0)|lower~'_show', {'id': element.id}) }}">{{'tShow'|trans}}</a>
								<a class="btnGlobalSmall" href="{{ path(className(element_teal.0)|lower~'_edit', {'id': element.id}) }}">{{'tEdit'|trans}}</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">{{ 'tNoRecordsFound'|trans }}</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						{% for property in cast_to_array(element_teal) %}
							{% if property == "logo" %}
								<td>
									<img class="list-teal-company-logo-table" alt="Company Logo" src="data:image/png;base64,{{ get_string(element_teal,property) }}"/>
								</td>
							{% else %}
								{% if property|lower not in restrictetList  %}
									<td>{{ get_string(element_teal,property,0)|raw }}</td>
								{% endif %}
							{% endif %}
						{% endfor %}
						{% if className(element_teal)|lower == "user" %}
							<td>{{ 'tUserAdmin'|trans }}</td>
							<td>{{'tInvitation'|trans}}</td>
						{% endif %}
						<td>
							<a class="btnGlobalSmall" href="{{ path(className(element_teal)|lower~'_show', {'id': element_teal.id}) }}">{{'tShow'|trans}}</a>
							<a class="btnGlobalSmall" href="{{ path(className(element_teal)|lower~'_edit', {'id': element_teal.id}) }}">{{'tEdit'|trans}}</a>
						</td>
					</tr>
					<tr>
						<td colspan="6">{{ 'tNoRecordsFound'|trans }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
