<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Tealfinder
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
		<div id="MAIN">
			<div id="MAINHEADER">
				<a href="{{path('introduction')}}" id="MAINLOGOLINK">
					<img id="MAINLOGO" src="/contents/images/logos/tlb.png" alt="logo tlb">
				</a>
			</div>
						{% include "MAIN/navigation.html.twig" %}
			<div id="CONTAINER">
				{% block body %}{% endblock %}
			</div>
		</div>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
