<!DOCTYPE html>

<title>Language</title>

{% block body %}
    <h1>Language</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ language.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ language.code }}</td>
            </tr>
            <tr>
                <th>Denomination</th>
                <td>{{ language.denomination }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ language.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('language_index') }}">back to list</a>

    <a href="{{ path('language_edit', {'id': language.id}) }}">edit</a>

    {{ include('language/_delete_form.html.twig') }}
{% endblock %}
