{% extends "MAIN/BASE.html.twig" %}
{% block body %}
	{% set begin = 0 %}
	{% set end = 0 %}
	{% for s in subjects %}
		{% set end = s.id %}
		{% if begin == 0  %}
			{% set begin = s.id %}
		{% endif %}
	{% endfor %}
	<div id="sondageMain">
		<div id="sondageTealImage"></div>
		<div id="sondageIcon">
			{% if subject.svg %}
				<td>{{subject.svg.svg|raw}}</td>
			{% endif %}
		</div>
		<div id="sondageTitle">
			{{subject.title}}
		</div>
		<div id="sondageQuestion">
			{{subject.question}}
		</div>
		<form id="sondageForm" action="{{path('sondage',{'id':subject.id})}}" method="POST">
			<input type="hidden" name="subjectId" value="{{subject.id}}">
			{% if result is defined and result.choice is defined %}
				<input type="hidden" name="choice" id="sondageChoice" value="{{result.choice}}">
				<input type="hidden" name="resultId" value="{{result.id}}">
			{% endif %}

			<div id="svgAnsOne" class="sondageAnswerSvg">
				{% if images.answers %}
					{{images.answers.4.svg|raw}}
				{% endif %}
			</div>
			<button type="submit" id="sondageAnswer1" class="sondageAnswers" name="1" value="1">{{subject.answerOne}}</button>
			<div id="svgAnsTwo" class="sondageAnswerSvg">
				{% if images.answers %}
					{{images.answers.3.svg|raw}}
				{% endif %}
			</div>
			<button type="submit" id="sondageAnswer2" class="sondageAnswers" name="2" value="2">{{subject.answerTwo}}</button>
			<div id="svgAnsThree" class="sondageAnswerSvg">
				{% if images.answers %}
					{{images.answers.2.svg|raw}}
				{% endif %}
			</div>
			<button type="submit" id="sondageAnswer3" class="sondageAnswers" name="3" value="3">{{subject.answerThree}}</button>
			<div id="svgAnsFour" class="sondageAnswerSvg">
				{% if images.answers %}
					{{images.answers.1.svg|raw}}
				{% endif %}
			</div>
			<button type="submit" id="sondageAnswer4" class="sondageAnswers" name="4" value="4">{{subject.answerFour}}</button>
			<div id="svgAnsFive" class="sondageAnswerSvg">
				{% if images.answers %}
					{{images.answers.0.svg|raw}}
				{% endif %}
			</div>
			<button type="submit" id="sondageAnswer5" class="sondageAnswers" name="5" value="5">{{subject.answerFive}}</button>
		</form>

		<div id="sondageHeartMain">
			<div id="sondageHeartTitle">{{'txt_notation'|trans|raw }}
				{{
					.user.company.name }}
			</div>
			<div id="sondageHeartDiv">
				{% if result is defined %}
					{% if result.notation == 0 %}
						{% for i in 1..5 %}
							<a href="{# {{path('notation_check',{'idResult':result.id,'idSubject':subject.id,'valeur':i})}} #}" name="{{i}}" class="sondageHeart">
								{{images.site.heart.svg|raw}}
							</a>
						{% endfor %}
					{% else %}
						{% set counter = 0 %}
						{% for i in 1..5 %}
							{% set counter = counter + 1 %}
							{% if counter <= result.notation %}
								<a href="{#{path('notation_check',{'idResult':result.id,'idSubject':subject.id,'valeur':i})}#}" name="{{i}}" class="sondageHeart">
									{{images.site.heart.svg|raw}}
								</a>
							{% else %}
								<a href="{#{path('notation_check',{'idResult':result.id,'idSubject':subject.id,'valeur':i})}#}" name="{{i}}" class="sondageHeart">
									{{images.site.heart.svg|raw}}
								</a>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<div id="sondageArrowLeft">
		{% if subject.id <= begin %}
			<a href="{{path('sondage',{'id':begin})}}">
			{% else %}
				<a href="{{path('sondage',{'id': befor.id })}}">
				{% endif %}
				{{images.site.arrow.svg|raw}}
			</a>
		</div>
		<div id="sondageArrowRight">
			{% if subject.id>=end%}
				<a href="{{path('result_show',{'idUser':app.user.id})}}">
				{% else %}
					<a href="{{path('sondage',{'id': after.id})}}">
					{% endif %}
					{{images.site.arrow.svg|raw}}
				</a>
			</a>
		</div>

		{# <div id="sondageArrowLeftMobile">
					{% if subject.id<=begin %}
						<a href="{{path('sondage',{'id':begin})}}">
						{% else %}
							<a href="{{path('sondage',{'id': befor.id })}}">
							{% endif %}
							{{images.site.arrow.svg|raw}}
						</a>
					</div>
					<div id="sondageArrowRightMobile">
						{% if subject.id>=end%}
							<a href="{{path('result_show',{'idUser':app.user.id})}}">
							{% else %}
								<a href="{{path('sondage',{'id': after.id})}}">
								{% endif %}
								{{images.site.arrow.svg|raw}}
							</a>
						</a>
					</div> #}
	</div>
{% endblock %}
