{% extends "MAIN/BASE.html.twig" %}
{% block body %}
	<div id="adminMain">
		{% include "MAIN/_form.html.twig" %}
		<div id="adminButtonLine">
			<a href="{{ path("import_csv") }}">
				<button class="btnGlobal">{{ 'tImportCsv'|trans }}</button>
			</a>
			<button form="MAINFORM" class="btnGlobal">{{'tSave'|trans}}</button>
		</div>
		{% include "MAIN/_list.html.twig" %}
					<a id="adminButtonResend" href="{{ path("user_reinvite_all") }}">
				<button class="btnGlobal">{{ 'tResendInvitation'|trans }}</button>
			</a>
	</div>
{% endblock %}
