<!DOCTYPE html>

<title>Subject</title>

{% block body %}
    <h1>Subject</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subject.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ subject.question }}</td>
            </tr>
            <tr>
                <th>AnswerOne</th>
                <td>{{ subject.answerOne }}</td>
            </tr>
            <tr>
                <th>AnswerTwo</th>
                <td>{{ subject.answerTwo }}</td>
            </tr>
            <tr>
                <th>AnswerThree</th>
                <td>{{ subject.answerThree }}</td>
            </tr>
            <tr>
                <th>AnswerFour</th>
                <td>{{ subject.answerFour }}</td>
            </tr>
            <tr>
                <th>AnswerFive</th>
                <td>{{ subject.answerFive }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ subject.position }}</td>
            </tr>
            <tr>
                <th>UserNotation</th>
                <td>{{ subject.userNotation }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ subject.title }}</td>
            </tr>
            <tr>
                <th>IsRespond</th>
                <td>{{ subject.isRespond ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ subject.language }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('subject_index') }}">back to list</a>

    <a href="{{ path('subject_edit', {'id': subject.id}) }}">edit</a>

    {{ include('subject/_delete_form.html.twig') }}
{% endblock %}
