<!DOCTYPE html>

<title>Emails index</title>

{% block body %}
    <h1>Emails index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Language</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for email in emails %}
            <tr>
                <td>{{ email.id }}</td>
                <td>{{ email.message }}</td>
                <td>{{ email.language }}</td>
                <td>
                    <a href="{{ path('emails_show', {'id': email.id}) }}">show</a>
                    <a href="{{ path('emails_edit', {'id': email.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emails_new') }}">Create new</a>
{% endblock %}
