<!DOCTYPE html>

<title>Keytext index</title>

{% block body %}
    <h1>Keytext index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Keytext</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for keytext in keytexts %}
            <tr>
                <td>{{ keytext.id }}</td>
                <td>{{ keytext.keytext }}</td>
                <td>
                    <a href="{{ path('keytext_show', {'id': keytext.id}) }}">show</a>
                    <a href="{{ path('keytext_edit', {'id': keytext.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('keytext_new') }}">Create new</a>
{% endblock %}
