{% extends 'MAIN/BASE.html.twig' %}
{% block title %}Log in!
{% endblock %}
{% block body %}
	<form id="loginMain" method="post">
		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div id="loginTitle">{{ 'SignInWelcome'|trans|raw }}</div>
		<div id="loginForm">
<label>
	{{ 'tTypeEmail'|trans|raw }}
</label>
			<input type="email" name="email" id="loginInputEmail" class="form-control" required autofocus>
		</div>
		<button id="loginSubmit" class="btnGlobal" type="submit">
			{{ 'btSendRePasswordEmail'|trans|raw }}
		</button>
	</form>
{% endblock %}

